@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* MOBILE */
@media screen and (min-width: 270px) {
  .body {
    background-color: #5b57f2;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  /* CONTAINER */
  .pricing-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title {
    height: 100px;
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 1px 30px 1px #2B2B2B;
            box-shadow: 0px 1px 30px 1px #2B2B2B;
    /* DECORATION LINE */
    /* TITLE */
  }
  .title::after {
    content: '';
    width: 50px;
    height: 5px;
    background-color: #26c281;
    border-radius: 30px;
  }
  .title-text {
    margin: 0 0 15px 0;
  }
  /* MONTHLY AND ANNUALY OPTIONS */
  .options {
    width: 250px;
    height: 65px;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    -webkit-box-shadow: 0px 1px 30px 1px #2B2B2B;
            box-shadow: 0px 1px 30px 1px #2B2B2B;
    z-index: 100;
  }
  .options-button {
    width: 115px;
    height: 50px;
    border-radius: 25px;
    border: none;
  }
  /* PRODUCTS CARD */
  .card {
    height: 425px;
    width: 260px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin: 15px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 1px 30px 1px #2B2B2B;
            box-shadow: 0px 1px 30px 1px #2B2B2B;
    /* SERVICES */
  }
  .card-main, .card-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* TITLE */
    /* ICONS */
    /* PRODUCT BUTTON */
  }
  .card-main__title, .card-description__title {
    font-size: 1.25em;
    margin: 10px 0 10px 0;
  }
  .card-main__icon, .card-description__icon {
    height: 80px;
    width: 80px;
    background-color: #26c281;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-main__button, .card-description__button {
    height: 50px;
    width: 230px;
    border-radius: 25px;
    border: none;
    background-color: #26c281;
    color: #FFFFFF;
    font-size: 1.1em;
  }
  .card-main {
    margin-bottom: 20px;
  }
  .card-services {
    list-style: none;
    padding: 0;
    color: #a39da9;
    text-align: center;
    font-size: .9em;
  }
  /* PRICE */
  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    /* MONTHLY OR ANNUALY */
  }
  .price-number {
    font-size: 2.3em;
    font-weight: bold;
    margin: 0;
  }
  .price-month {
    margin: 0 0 10px 0;
    font-size: .8em;
    color: #a39da9;
  }
  /* CAKE GRAPHIC */
  .cake {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    background-image: conic-gradient(#26c281 0deg, #26c281 90deg 135deg, #FFFFFF 135deg);
    position: relative;
    /* PORTION 1 */
    /* PORTION 2 */
  }
  .cake::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #FFFFFF;
    border-radius: 50%;
    -webkit-transform: rotate(215deg);
            transform: rotate(215deg);
    right: -1px;
  }
  .cake::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #FFFFFF;
    border-radius: 50%;
    -webkit-transform: rotate(283deg);
            transform: rotate(283deg);
    top: 9px;
    right: -2px;
  }
  /* GRAPHIC */
  .graphic {
    height: 30px;
    width: 30px;
    overflow: hidden;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
  }
  .graphic-line {
    position: absolute;
    background-color: #FFFFFF;
  }
  .y-axis {
    height: 25px;
    width: 3px;
    top: 5px;
  }
  .x-axis {
    height: 3px;
    width: 30px;
    bottom: 0;
  }
  .upward1 {
    height: 3px;
    width: 8px;
    top: 50%;
    left: 5px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .falling {
    height: 3px;
    width: 10px;
    top: 50%;
    left: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .upward2 {
    height: 3px;
    width: 8px;
    top: 50%;
    left: 15px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .arrow {
    position: absolute;
    height: 0;
    width: 0;
    top: 9px;
    right: 1px;
    background-color: #26c281;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #FFFFFF;
  }
  /* BUILDINGS */
  .buildings {
    height: 30px;
    width: 30px;
    position: relative;
  }
  .building {
    position: absolute;
    background-color: #FFFFFF;
  }
  .first-building {
    width: 16px;
    height: 32px;
    bottom: 0;
    left: -4px;
    /* FIREPLACES */
    /* WINDOWS */
  }
  .first-building__fireplace {
    position: absolute;
    width: 2.8px;
    height: 6px;
    background-color: #FFFFFF;
    top: -6px;
    left: 4px;
  }
  .first-building__fireplace:before {
    content: "";
    position: absolute;
    width: 2.8px;
    height: 6px;
    background-color: #FFFFFF;
    top: 0;
    left: 6.8px;
  }
  .first-building__windows {
    height: 4px;
    width: 4px;
    background-color: #26c281;
    position: absolute;
    left: 2.4px;
  }
  .top-windows {
    top: 4px;
  }
  .top-windows::before, .top-windows::after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    left: 6.8px;
  }
  .top-windows::after {
    top: 8px;
  }
  .bottom-windows {
    top: 12px;
  }
  .bottom-windows::before, .bottom-windows::after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    left: 6.8px;
    top: 8px;
  }
  .bottom-windows::after {
    left: 0;
  }
  .second-building {
    width: 12px;
    height: 38px;
    bottom: 0;
    left: 12px;
  }
  .second-building::before {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 2px;
    left: 4px;
  }
  .second-building__windows {
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 10px;
    left: 4px;
  }
  .second-building__windows::before {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 8px;
    left: 0;
  }
  .third-building {
    width: 12px;
    height: 24px;
    bottom: 0;
    left: 24px;
  }
  .third-building__windows {
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 4px;
    left: 4px;
  }
  .third-building__windows::before {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 8px;
    left: 0;
  }
  /* NONE SELECTED BUTTON EFFECT */
  .none-selected {
    background-color: #e7faf4;
    color: #26c281;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
  }
  .none-selected:hover {
    border: 3px solid #26c281;
  }
  .selected-button {
    background-color: #26c281;
    color: #FFFFFF;
  }
}

/* TABLET */
@media screen and (min-width: 600px) {
  /* TITLE */
  .title {
    height: 100px;
    width: 95vw;
    max-width: 620px;
  }
  /* PRODUCT CARDS */
  .card {
    height: 300px;
    width: 95vw;
    max-width: 620px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card-main {
    margin-left: 100px;
    width: 100px;
  }
  .card-description {
    width: 200px;
    margin-right: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  .card-main__title, .card-description__title {
    margin-top: 30px;
    font-size: 1.9em;
  }
  .card-main__icon, .card-description__icon {
    margin-top: 10px;
  }
  .card-main__button, .card-description__button {
    margin-top: 15px;
    position: absolute;
    right: -15px;
    bottom: -60px;
  }
  /* PRICE */
  .price {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .price-number {
    font-size: 2.6em;
    margin: 0;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .options {
    position: initial;
    width: 220px;
    -webkit-box-shadow: 0px 5px 20px 1px #E7E8EA;
            box-shadow: 0px 5px 20px 1px #E7E8EA;
  }
  .options-button {
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: 12px;
  }
  .pricing-toggle {
    width: 90vw;
    max-width: 1000px;
    background-color: #FFFFFF;
    margin: 100px 0;
    border-radius: 25px;
    -webkit-box-shadow: 0px 1px 30px 1px #2B2B2B;
            box-shadow: 0px 1px 30px 1px #2B2B2B;
  }
  /* TITLE */
  .title {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .title-text {
    font-size: 1.9em;
    margin-bottom: 10px;
  }
  /* PRODUCTS CONTAINER */
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
    width: 100%;
    margin: 50px 0px;
  }
  /* PRODUCT CARDS */
  .card {
    height: 400px;
    width: 250px;
    background-color: #FFFFFF;
    margin: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 5px 10px 3px #E7E8EA;
            box-shadow: 0px 5px 10px 3px #E7E8EA;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    /* SERVICES */
  }
  .card-main, .card-description {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* TITLE */
    /* PRODUCT BUTTON */
  }
  .card-main__title, .card-description__title {
    font-size: .9em;
    margin-top: 0;
  }
  .card-main__button, .card-description__button {
    height: 45px;
    width: 200px;
    font-size: .75em;
    position: initial;
    right: 0;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .card-main__button:hover, .card-description__button:hover {
    background-color: #36faa8;
  }
  .card-main {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .card-description {
    margin-bottom: 15px;
    width: initial;
  }
  .card-services {
    font-size: .6em;
  }
  .card:hover {
    -webkit-box-shadow: 0px 5px 10px 3px #919191;
            box-shadow: 0px 5px 10px 3px #919191;
  }
  /* PRICE */
  .price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* MONTHLY OR ANNUALY */
  }
  .price-number {
    font-size: 1.9em;
    font-weight: bold;
    margin: 0;
  }
  .price-month {
    font-size: .6em;
  }
}
/*# sourceMappingURL=styles.css.map */