@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* MOBILE */
@media screen and (min-width: 270px) {
  #body {
    background-color: #5b57f2;
    margin: 0;
    padding: 0;
  }
  /* CONTENEDOR */
  .pricing-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title {
    height: 100px;
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    border-radius: 25px;
    margin-top: 25px;
    /* TITULO */
    /* LINEA DE DECORACIÓN */
  }
  .title-text {
    font-family: "Poppins", sans-serif;
    margin: 0 0 15px 0;
  }
  .title-decoration {
    width: 50px;
    height: 5px;
    background-color: #26c281;
    border-radius: 30px;
  }
  /* OPCIONES MENSUAL Y ANUAL */
  .options {
    width: 250px;
    height: 65px;
    background-color: white;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    -webkit-box-shadow: 0px 5px 10px 3px #292929;
            box-shadow: 0px 5px 10px 3px #292929;
    z-index: 100;
  }
  .options-button {
    width: 115px;
    height: 50px;
    border-radius: 25px;
    border: none;
  }
  /* BOTÓN MENSUAL */
  .monthly {
    background-color: #26c281;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  /* BOTÓN ANUAL */
  .annualy {
    background-color: #e7faf4;
    color: #26c281;
    font-family: "Poppins", sans-serif;
  }
  /* TARJETA DE LOS PRODUCTOS */
  .card {
    height: 425px;
    width: 260px;
    background-color: white;
    border-radius: 30px;
    margin: 15px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Poppins", sans-serif;
    /* SERVICIOS */
  }
  .card-main, .card-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* TITULO */
    /* ICONOS */
    /* BOTÓN DEL PRODUCTO */
  }
  .card-main__title, .card-description__title {
    font-size: 20px;
    margin: 10px 0 10px 0;
  }
  .card-main__icon, .card-description__icon {
    height: 80px;
    width: 80px;
    background-color: #26c281;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-main__button, .card-description__button {
    height: 50px;
    width: 230px;
    border-radius: 25px;
    border: none;
    background-color: #26c281;
    color: white;
    font-size: 17px;
  }
  .card-main {
    margin-bottom: 20px;
  }
  .card-services {
    list-style: none;
    padding: 0;
    color: #a39da9;
    text-align: center;
    font-size: 14px;
  }
  /* PRECIO */
  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    /* MENSUAL O ANUAL */
  }
  .price-number {
    font-size: 37px;
    font-weight: bold;
    margin: 0;
  }
  .price-month {
    margin: 0 0 10px 0;
    font-size: 13px;
    color: #a39da9;
  }
  /* GRAFICO TORTA */
  .cake {
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    background-image: conic-gradient(#26c281 0deg, #26c281 90deg 135deg, white 135deg);
    position: relative;
    /* PORCIÓN 1 */
    /* PORCIÓN 2 */
  }
  .cake::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    border-radius: 50%;
    -webkit-transform: rotate(215deg);
            transform: rotate(215deg);
    right: -1px;
  }
  .cake::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid white;
    border-radius: 50%;
    -webkit-transform: rotate(285deg);
            transform: rotate(285deg);
    top: 9px;
    right: -2px;
  }
  /* GRAFICO */
  .grafico {
    height: 30px;
    width: 30px;
    overflow: hidden;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
  }
  .grafico-linea {
    position: absolute;
    background-color: white;
  }
  .eje-y {
    height: 25px;
    width: 3px;
    top: 5px;
  }
  .eje-x {
    height: 3px;
    width: 30px;
    bottom: 0;
  }
  .ascendente1 {
    height: 3px;
    width: 8px;
    top: 50%;
    left: 5px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .descendente {
    height: 3px;
    width: 10px;
    top: 50%;
    left: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ascendente2 {
    height: 3px;
    width: 8px;
    top: 50%;
    left: 15px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .flecha {
    position: absolute;
    height: 0;
    width: 0;
    top: 9px;
    right: 1px;
    background-color: #26c281;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid white;
  }
  /* EDIFICIOS */
  .edificios {
    height: 30px;
    width: 30px;
    position: relative;
  }
  .edificio {
    position: absolute;
    background-color: white;
  }
  .primer-edificio {
    width: 16px;
    height: 32px;
    bottom: 0;
    left: -4px;
    /* CHIMENEAS */
    /* VENTANAS */
  }
  .primer-edificio__chimenea {
    position: absolute;
    width: 2.8px;
    height: 6px;
    background-color: white;
    top: -6px;
    left: 4px;
  }
  .primer-edificio__chimenea:before {
    content: "";
    position: absolute;
    width: 2.8px;
    height: 6px;
    background-color: white;
    top: 0;
    left: 6.8px;
  }
  .primer-edificio__ventanas {
    height: 4px;
    width: 4px;
    background-color: #26c281;
    position: absolute;
    left: 2.4px;
  }
  .ventanas-superiores {
    top: 4px;
  }
  .ventanas-superiores::before,
  .ventanas-superiores::after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    left: 6.8px;
  }
  .ventanas-superiores::after {
    top: 8px;
  }
  .ventanas-inferiores {
    top: 12px;
  }
  .ventanas-inferiores::before,
  .ventanas-inferiores::after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    left: 6.8px;
    top: 8px;
  }
  .ventanas-inferiores::after {
    left: 0;
  }
  .segundo-edificio {
    width: 12px;
    height: 38px;
    bottom: 0;
    left: 12px;
  }
  .segundo-edificio::before {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 2px;
    left: 4px;
  }
  .segundo-edificio__ventanas {
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 10px;
    left: 4px;
  }
  .segundo-edificio__ventanas::before {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 8px;
    left: 0;
  }
  .tercer-edificio {
    width: 12px;
    height: 24px;
    bottom: 0;
    left: 24px;
  }
  .tercer-edificio__ventanas {
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 4px;
    left: 4px;
  }
  .tercer-edificio__ventanas::before {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #26c281;
    top: 8px;
    left: 0;
  }
}

/* TABLET */
@media screen and (min-width: 600px) {
  /* TITULO */
  .title {
    height: 100px;
    width: 95vw;
    max-width: 620px;
  }
  /* TARJETAS DE LOS PRODUCTOS */
  .card {
    height: 300px;
    width: 95vw;
    max-width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card-main {
    margin-left: 100px;
    width: 100px;
  }
  .card-description {
    margin-right: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  .card-main__title, .card-description__title {
    margin-top: 30px;
    font-size: 30px;
  }
  .card-main__icon, .card-description__icon {
    margin-top: 10px;
  }
  .card-main__button, .card-description__button {
    margin-top: 15px;
    position: absolute;
    right: -45px;
    bottom: -60px;
  }
  /* PRECIO */
  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .price-number {
    font-size: 42px;
    margin: 0;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  #body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* QUITA EL EL VALOR STICKY PARA QUE EN DESKTOP NO SE MUEVA */
  .options {
    position: static;
    width: 220px;
    -webkit-box-shadow: 0px 5px 10px 3px #a39da9;
            box-shadow: 0px 5px 10px 3px #a39da9;
  }
  .options-button {
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: 12px;
  }
  /* FONDO DE LA PRICING TOGGLE */
  .pricing-toggle {
    width: 90vw;
    max-width: 1000px;
    background-color: white;
    margin: 100px 0;
    border-radius: 25px;
  }
  /* TITULO */
  .title-text {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .title-decoration {
    width: 40px;
    height: 3px;
  }
  /* CONTENEDOR DE LOS PRODUCTOS */
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 50px 0px;
  }
  /* TARJETA DE LOS PRODUCTOS */
  .card {
    height: 400px;
    width: 250px;
    background-color: white;
    border-radius: 30px;
    margin: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Poppins", sans-serif;
    -webkit-box-shadow: 0px 5px 10px 3px #aaaaaa;
            box-shadow: 0px 5px 10px 3px #aaaaaa;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    /* SERVICIOS */
  }
  .card-main, .card-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    /* TITULO */
    /* ICONOS */
    /* BOTÓN DEL PRODUCTO */
  }
  .card-main__title, .card-description__title {
    font-size: 15px;
    margin-top: 0;
  }
  .card-main__icon, .card-description__icon {
    background-color: #26c281;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-main__button, .card-description__button {
    height: 45px;
    width: 200px;
    border-radius: 25px;
    border: none;
    background-color: #26c281;
    color: white;
    font-size: 12px;
    position: static;
    right: 0;
    cursor: pointer;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .card-main__button:hover, .card-description__button:hover {
    background-color: #36faa8;
  }
  .card-main {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .card-description {
    margin-bottom: 15px;
  }
  .card-services {
    list-style: none;
    padding: 0;
    color: #a39da9;
    font-size: 10px;
  }
  .card:hover {
    -webkit-box-shadow: 0px 5px 10px 3px #616161;
            box-shadow: 0px 5px 10px 3px #616161;
  }
  /* PRECIO */
  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    /* MENSUAL O ANUAL */
  }
  .price-number {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }
  .price-month {
    margin: 0 0 10px 0;
    font-size: 10px;
  }
  /* EFECTO BOTÓN NO SELECCIONADO */
  .none-selected {
    background-color: #e7faf4;
    color: #26c281;
    -webkit-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
  }
  .none-selected:hover {
    border: 3px solid #26c281;
  }
}

/* DESKTOP SUPERIOR A 1200px */
/*# sourceMappingURL=styles.css.map */