// IMPORT GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

// VARIABLES
$background: #5b57f2;
$mainGreen: #26c281;
$secondGreen: #e7faf4;
$details: #a39da9;
$white: #FFFFFF;
$shadow: #E7E8EA;
$selectedShadow: #919191; 
$greenHover: #36faa8;
$tableShadow: #2B2B2B;
$mainFont: "Poppins", sans-serif;

@mixin flexbox-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MOBILE */
@media screen and (min-width: 270px) {
  .body {
    background-color: $background;
    margin: 0;
    padding: 0;
    font-family: $mainFont;
  }

  /* CONTAINER */
  .pricing-toggle {
    @include flexbox-styles;
  }

  .title {
    height: 100px;
    width: 270px;
    @include flexbox-styles;
    background-color: $white;
    border-radius: 25px;
    margin-top: 25px;
    box-shadow: 0px 1px 30px 1px $tableShadow;

    /* DECORATION LINE */
    &::after {
      content: '';
      width: 50px;
      height: 5px;
      background-color: $mainGreen;
      border-radius: 30px;
    }

    /* TITLE */
    &-text {
      margin: 0 0 15px 0;
    }
  }

  /* MONTHLY AND ANNUALY OPTIONS */
  .options {
    width: 250px;
    height: 65px;
    background-color: $white;
    border-radius: 50px;
    @include flexbox-styles;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    position: sticky;
    top: 10px;
    box-shadow: 0px 1px 30px 1px $tableShadow;
    z-index: 100;

    &-button {
      width: 115px;
      height: 50px;
      border-radius: 25px;
      border: none;
    }
  }

  /* PRODUCTS CARD */
  .card {
    height: 425px;
    width: 260px;
    background-color: $white;
    border-radius: 30px;
    margin: 15px auto;
    @include flexbox-styles;
    box-shadow: 0px 1px 30px 1px $tableShadow;

    &-main,
    &-description {
      @include flexbox-styles;

      /* TITLE */
      &__title {
        font-size: 1.25em;
        margin: 10px 0 10px 0;
      }

      /* ICONS */
      &__icon {
        height: 80px;
        width: 80px;
        background-color: $mainGreen;
        border-radius: 50%;
        @include flexbox-styles;
      }

      /* PRODUCT BUTTON */
      &__button {
        height: 50px;
        width: 230px;
        border-radius: 25px;
        border: none;
        background-color: $mainGreen;
        color: $white;
        font-size: 1.1em;
      }
    }

    &-main {
      margin-bottom: 20px;
    }

    /* SERVICES */
    &-services {
      list-style: none;
      padding: 0;
      color: $details;
      text-align: center;
      font-size: .9em;
    }
  }

  /* PRICE */
  .price {
    display: flex;
    align-items: flex-end;

    &-number {
      font-size: 2.3em;
      font-weight: bold;
      margin: 0;
    }

    /* MONTHLY OR ANNUALY */
    &-month {
      margin: 0 0 10px 0;
      font-size: .8em;
      color: $details;
    }
  }

  /* CAKE GRAPHIC */
  .cake {
    height: 30px;
    width: 30px;
    background-color: $white;
    border-radius: 50%;
    background-image: conic-gradient(
      $mainGreen 0deg,
      $mainGreen 90deg 135deg,
      $white 135deg
    );
    position: relative;

    /* PORTION 1 */
    &::before {
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid $white;
      border-radius: 50%;
      transform: rotate(215deg);
      right: -1px;
    }

    /* PORTION 2 */
    &::after {
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 15px solid $white;
      border-radius: 50%;
      transform: rotate(283deg);
      top: 9px;
      right: -2px;
    }
  }

  /* GRAPHIC */
  .graphic {
    height: 30px;
    width: 30px;
    overflow: hidden;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;

    &-line {
      position: absolute;
      background-color: $white;
    }
  }

  .y-axis {
    height: 25px;
    width: 3px;
    top: 5px;
  }

  .x-axis {
    height: 3px;
    width: 30px;
    bottom: 0;
  }

  .upward1 {
    height: 3px;
    width: 8px;
    top: 50%;
    left: 5px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .falling {
    height: 3px;
    width: 10px;
    top: 50%;
    left: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .upward2 {
    height: 3px;
    width: 8px;
    top: 50%;
    left: 15px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .arrow {
    position: absolute;
    height: 0;
    width: 0;
    top: 9px;
    right: 1px;
    background-color: $mainGreen;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid $white;
  }

  /* BUILDINGS */
  .buildings {
    height: 30px;
    width: 30px;
    position: relative;
  }

  .building {
    position: absolute;
    background-color: $white;
  }

  .first-building {
    width: 16px;
    height: 32px;
    bottom: 0;
    left: -4px;

    /* FIREPLACES */
    &__fireplace {
      position: absolute;
      width: 2.8px;
      height: 6px;
      background-color: $white;
      top: -6px;
      left: 4px;

      &:before {
        content: "";
        position: absolute;
        width: 2.8px;
        height: 6px;
        background-color: $white;
        top: 0;
        left: 6.8px;
      }
    }

    /* WINDOWS */
    &__windows {
      height: 4px;
      width: 4px;
      background-color: $mainGreen;
      position: absolute;
      left: 2.4px;
    }
  }

  .top-windows {
    top: 4px;

    &::before,
    &::after {
      content: "";
      height: 4px;
      width: 4px;
      position: absolute;
      background-color: $mainGreen;
      left: 6.8px;
    }

    &::after {
      top: 8px;
    }
  }

  .bottom-windows {
    top: 12px;

    &::before,
    &::after {
      content: "";
      height: 4px;
      width: 4px;
      position: absolute;
      background-color: $mainGreen;
      left: 6.8px;
      top: 8px;
    }

    &::after {
      left: 0;
    }
  }

  .second-building {
    width: 12px;
    height: 38px;
    bottom: 0;
    left: 12px;

    &::before {
      content: "";
      height: 4px;
      width: 4px;
      position: absolute;
      background-color: $mainGreen;
      top: 2px;
      left: 4px;
    }

    &__windows {
      height: 4px;
      width: 4px;
      position: absolute;
      background-color: $mainGreen;
      top: 10px;
      left: 4px;

      &::before {
        content: "";
        height: 4px;
        width: 4px;
        position: absolute;
        background-color: $mainGreen;
        top: 8px;
        left: 0;
      }
    }
  }

  .third-building {
    width: 12px;
    height: 24px;
    bottom: 0;
    left: 24px;

    &__windows {
      height: 4px;
      width: 4px;
      position: absolute;
      background-color: $mainGreen;
      top: 4px;
      left: 4px;

      &::before {
        content: "";
        height: 4px;
        width: 4px;
        position: absolute;
        background-color: $mainGreen;
        top: 8px;
        left: 0;
      }
    }
  }

  /* NONE SELECTED BUTTON EFFECT */
  .none-selected {
    background-color: $secondGreen;
    color: $mainGreen;
    transition: all .1s ease;
  
    &:hover {
      border: 3px solid $mainGreen;
    }
  }

  .selected-button {
    background-color: $mainGreen;
    color: $white;
  }
}

/* TABLET */
@media screen and (min-width: 600px) {

  /* TITLE */
  .title {
    height: 100px;
    width: 95vw;
    max-width: 620px;
  }

  /* PRODUCT CARDS */
  .card {
    height: 300px;
    width: 95vw;
    max-width: 620px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &-main {
      margin-left: 100px;
      width: 100px;
    }

    &-description {
      width: 200px;
      margin-right: 60px;
      flex-direction: column-reverse;
      justify-content: flex-start;
      position: relative;
    }

    &-main,
    &-description {
      &__title {
        margin-top: 30px;
        font-size: 1.9em;
      }

      &__icon {
        margin-top: 10px;
      }

      &__button {
        margin-top: 15px;
        position: absolute;
        right: -15px;
        bottom: -60px;
      }
    }
  }

  /* PRICE */
  .price {
    align-items: flex-end;

    &-number {
      font-size: 2.6em;
      margin: 0;
    }
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .body {
    display: flex;
    justify-content: center;
  }

  .options {
    position: initial;
    width: 220px;
    box-shadow: 0px 5px 20px 1px $shadow;

    &-button {
      cursor: pointer;
      height: 40px;
      width: 100px;
      font-size: 12px;
    }
  }

  .pricing-toggle {
    width: 90vw;
    max-width: 1000px;
    background-color: $white;
    margin: 100px 0;
    border-radius: 25px;
    box-shadow: 0px 1px 30px 1px $tableShadow;
  }

  /* TITLE */
  .title {
    box-shadow: none;

    &-text {
      font-size: 1.9em;
      margin-bottom: 10px;
    }
  }

  /* PRODUCTS CONTAINER */
  .products {
    @include flexbox-styles;
    flex-direction: row;
    width: 100%;
    margin: 50px 0px;
  }

  /* PRODUCT CARDS */
  .card {
    height: 400px;
    width: 250px;
    background-color: $white;
    margin: 15px 10px;
    @include flexbox-styles;
    box-shadow: 0px 5px 10px 3px $shadow;
    transition: all .5s ease;

    &-main,
    &-description {
      margin: 0;
      flex-direction: column;

      /* TITLE */
      &__title {
        font-size: .9em;
        margin-top: 0;
      }

      /* PRODUCT BUTTON */
      &__button {
        height: 45px;
        width: 200px;
        font-size: .75em;
        position: initial;
        right: 0;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
          background-color: $greenHover;
        }
      }
    }

    &-main {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    &-description {
      margin-bottom: 15px;
      width: initial;
    }

    /* SERVICES */
    &-services {
      font-size: .6em;
    }

    &:hover {
      box-shadow: 0px 5px 10px 3px $selectedShadow;
    }
  }

  /* PRICE */
  .price {
    justify-content: center;

    &-number {
      font-size: 1.9em;
      font-weight: bold;
      margin: 0;
    }

    /* MONTHLY OR ANNUALY */
    &-month {
      font-size: .6em;
    }
  }
}